.product-list{
  width: 100%;
  overflow-x: hidden;
  padding: 20px 0;


  .row {
    width: 90vw;
    flex-wrap: wrap;


    .product-single {
      width: calc(25% - 30px) ;
      margin: 15px;

      mat-card{
        cursor: pointer;
      }

      @media screen and (max-width: 740px) {
        width: calc(50% - 15px);
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        margin-right: unset;
      }


      .product-image {
        padding: 10px;
      img{
          height: 200px;
          width: auto;
      }
    }
    }
  }


}


